/* font imports */
@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@700&family=Merriweather:ital,wght@1,700&family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@700&family=Merriweather:ital,wght@1,700&family=Montserrat&family=Unica+One&display=swap');





/* font imports */

body{
  background: #150e28;
  color:#fff;
}
p{
  font-family: 'Montserrat', sans-serif;
}
.section-header{
  color: #fff;
  font-family: 'Clash Display', sans-serif;
}

.section-header-span{
  color: #d434fe;
}
.section-subtext{
  color: #fff;
 
  font-family: 'Montserrat', sans-serif;
}



/* nav styles */
.nav-section{
  border-bottom: 1px solid #fff;
}
.nav-brand{
  font-family: 'Clash Display', sans-serif;
  font-weight: 700;
  color: #fff;
  font-size: 36px;
  
}
.nav-brand .navbrand-span-linked{
  color: #d434fe
}
.nav-btn{
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color:#fff;
  padding: 20px 50px ;
  width: min-content;
  
}

.nav-btn.register-btn{
  /* width: 172px;
  height: 53px; */
  background: linear-gradient(to left,#903aff, #d434fe,#ff26b9,#ff34b9);
  border-radius: 4px;
  margin: 0 auto;
  
  color: #fff;
}
/* nav  styles */

/* hero-styles */

.hero-header{
  font-size: 80px;
  color: #fff;
  font-family: 'Clash Display', sans-serif;
}
.hero-header span{
  
  color: #d434fe;

 
}



.register-btn-hero{
  background: linear-gradient(to left,#903aff, #d434fe,#ff26b9,#ff34b9);
  border-radius: 4px;
  
  
  color: #fff;
}
.left-hero .hero-sub-text{
  color: #fff;
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}
.right-hero{
  background-image: url("./assets/man-wearing-smart-glasses.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.ignite-text{
  margin-top:20px;
  font-size: 36px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-style: italic;
  width: max-content;
  position: relative;
}
.bent-line{
  position: absolute;
  bottom: -35px;
  right: 10px;
}

.timer{
  font-family: 'Unica One', cursive;
}
.hour, .minute,.second{
  font-size: 64px;
}

.small-leter-timer{
  font-size:14px;
}
.hour,.minute{
margin-right: 20px;
}
/* hero-styles */

/* intro styles */



.left-intro{
  
  
}
.bulb{
  position: relative;
}
.bulb-text{
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
}

.right-intro-sub-text{
  font-size: 14px;
}

/* intro styles */

/* rules section */
.left-rules-sub-text{
  font-size: 14px;
}
/* rules section */

/* key attributes */
.right-keyatrributes ul{
  list-style: none;
}
.key-attributes-li{
  font-size: 14px;
}
.list-attributes-header{
  color: #ff26b9;
  font-size: 16px;
}

/* key attributes */

/* faq section */

.faq-li{
  font-size: 14px;
  border-bottom: 1px solid #d434fe;
  margin-bottom: 30px;

}
.faq-subtext{
  font-weight: bold;
}
.more-button{
  font-size: 20px;
  color: #d434fe;
}
/* faq section */

/* amount-section */
.award-amount{
  color: #d434fe;
  font-family: 'Montserrat', sans-serif;
 
  font-size: 24px;
  font-weight: bold;
}
.award-title{
  color: #fff;
   font-weight: 500;
   font-family: 'Montserrat', sans-serif;
}
.award-position{
  font-size: 36px;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
}

.award-position-1{
  font-size: 40px;
}


.award-amount-1{
  color: #903aff;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 24px;
  font-weight: bold;
}
/* amount-section */

/* sponsors section */

.sponsors-container{
  padding: 100px;
  border: 1px solid #d434fe;
}
.sponsors-container .sponsor-logo{
  border: 1px solid #d434fe;
}
/* sponsors section */







/* contact section */

.contact-header{
  color: #d434fe;
  font-family: 32px;
  font-family: 'Clash Display', sans-serif;
  font-weight: 500;
}
.contact-subheading{
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
}


.submit-btn{
  background: linear-gradient(to left,#903aff, #d434fe,#ff26b9,#ff34b9);
  border-radius: 4px;
  margin: 0 auto;
  
  color: #fff;
}
.share-on{
  color: #d434fe;
}
.social-media{
  color: #fff;
}
.phone-number{
  color: #fff;
  text-decoration: none;
  font-size: 16px;
}
.form-header{
  color: #d434fe;
  font-family: 'Clash Display', sans-serif;
  font-size: 20px;
}
.contact-form form{
  
}
.contact-form input, .contact-form textarea {
  background-color: transparent ;
  border: 1px solid #fff;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  padding: 10px;
  color: #fff;
  height: 47px;
  width: 437px;
  border-radius: 4px;
}
.contact-form input::placeholder, .contact-form textarea::placeholder {
  color: #fff;
}
.contact-form textarea{
  height: 119px;
}
.contact-btn{
  height: 53px;
  width: 172px;
}

/* contact section */

/* Register section */


.register-header{
  color: #d434fe;
  font-size: 32px;
}
.form-subheader h6{
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
}

.woman-img,.man-img{
  height: 26px;
  width: 26px;
}
.walking{
  border-bottom: 2px dotted #d434fe;
  position: relative;
  text-align:center;
  width: 101px;
  bottom: 15px;
  left: 3px;
  
}

.register-form input, .register-form textarea {
  background-color: transparent ;
  border: 1px solid #fff;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  padding: 10px;
  color: #fff;
  height: 47px;
  width: 263px;
  border-radius: 4px;
}
.review-text{
  font-size: 12px;
  font-style: italic;
  color: #ff26b9;
}
.checkbox{
  height: 14px !important ;
  width: 14px !important;
  background-color: transparent;
}
/* Register section */